config VERSATILE_FPGA_IRQ
	bool
	select IRQ_DOMAIN

config VERSATILE_FPGA_IRQ_NR
       int
       default 4
       depends on VERSATILE_FPGA_IRQ

config ARM64_GIC
	depends on ARM64
	bool
	help
	  ARM Generic Interrupt Controller support. Only used on arm64 plaftorms at present.
